<%- include("partials/header", { title: title }) %>

<h2>Velkommen</h2>
<p>
  Dette systemet brukes av opplæringskontoret for å holde oversikt over elever i
  praksisbedrifter og lærebedrifter.
</p>

<%- include("partials/footer") %>
